---
layout: default
---

<div class="home">
    <p>Hey there! I'm <a href="https://twitter.com/ramykhuffash" target="_blank"><img src="/assets/images/ramy.jpg" width="40" height="40" style="border-radius: 100%;" /> Ramy</a> and this is where I share what I'm working on & learning.</p>
    <p>I'm always happy to chat with customers, founders, or anyone interested in making things.</p>
    <p>The best way to get in touch is by email at ramy@rocketgems.com, but you can also find me on <a href="https://twitter.com/ramykhuffash" target="_blank">Twitter.</a></p>
    <p class="text-muted"><small>P.S. The name "Rocket Gems" does't mean anything - I just liked it and the domain was available.</small></p>

    <div style="padding: 2rem 0;">
        <h3 style="margin-bottom: 0.3rem; text-transform: uppercase;"><strong>Products</strong></h3>
        <p>I've been working on my own products full time since 2018. Here's what I spend most of my time on:</p>
        <ul class="list-unstyled">
            <li class="product-thumb">
                <a href="https://pageflows.com" target="_blank"><span></span></a>
                <img src="/assets/images/pf.jpg" width="50" height="50" style="border-radius: 100%; vertical-align: middle; display: block; float: left; margin-right: .5rem;" />
                <strong>Page Flows</strong> <span class="tag tag-active">Active</span>
                <p>User flow videos & screenshots to inspire designers & product managers when you're stuck</p>
            </li>
            <li class="product-thumb">
                <a href="https://screenjar.com" target="_blank"><span></span></a>
                <img src="/assets/images/sj.png" width="50" height="50" style="border-radius: 100%; vertical-align: middle; display: block; float: left; margin-right: .5rem;" />
                <strong>Screenjar</strong> <span class="tag tag-active">Active</span>
                <p>Request screen recordings from customers with a link</p>
            </li>
            <li class="product-thumb">
                <a href="https://uimovement.com" target="_blank"><span></span></a>
                <img src="/assets/images/ui.png" width="50" height="50" style="border-radius: 100%; vertical-align: middle; display: block; float: left; margin-right: .5rem;" />
                <strong>UI Movement</strong> <span class="tag tag-active">Active</span>
                <p>Curated UI design inspiration (mostly animated GIFs)</p>
            </li>
            <li class="product-thumb">
                <a href="https://subcaster.com" target="_blank"><span></span></a>
                <img src="/assets/images/subcaster.png" width="50" height="50" style="border-radius: 100%; vertical-align: middle; display: block; float: left; margin-right: .5rem;" />
                <strong>Subcaster</strong> <span class="tag tag-active">Active</span>
                <p>Compare podcast tools side-by-side</p>
            </li>
            <li class="product-thumb">
                <a href="https://dashvine.com" target="_blank"><span></span></a>
                <img src="/assets/images/dv.jpg" width="50" height="50" style="border-radius: 100%; vertical-align: middle; display: block; float: left; margin-right: .5rem;" />
                <strong>Dashvine</strong> <span class="tag tag-backburner">Backburner</span>
                <p>Gather, manage, and close the loop on product feedback</p>
            </li>
            <li class="product-thumb">
                <a href="https://letterfuel.com" target="_blank"><span></span></a>
                <img src="/assets/images/lf.jpg" width="50" height="50" style="border-radius: 100%; vertical-align: middle; display: block; float: left; margin-right: .5rem;" />
                <strong>Letterfuel</strong> <span class="tag tag-backburner">Backburner</span>
                <p>Easily build curated newsletters</p>
            </li>
        </ul>
        <p>I've worked on <a href="https://www.producthunt.com/@ramykhuffash/made" target="_blank" rel="nofollow">a whole bunch of other things</a>, but most have failed. I continue to explore new product ideas.</p>
    </div>
</div>
