---
layout: default
---

<div class="home">
    <p>Hey there! I'm <a href="https://twitter.com/ramykhuffash" target="_blank"><img src="/assets/images/ramy.jpg" width="40" height="40" style="border-radius: 100%;" /> Ramy</a> and this is where I share what I'm working on & learning.</p>
    <p>I'm not currently looking for work, but I'm always happy to chat with customers, founders, or anyone interested in making things.</p>
    <p>The best way to get in touch is by email at ramy@rocketgems.com, but you can also find me on <a href="https://twitter.com/ramykhuffash" target="_blank">Twitter.</a></p>
    <p class="text-muted"><small>P.S. The name "Rocket Gems" does't mean anything - I just liked it and the domain was available.</small></p>

    <div style="padding: 2rem 0;">
        <h3 style="margin-bottom: 0.3rem; text-transform: uppercase;"><strong>Products</strong></h3>
        <p>I've been working on my own products full time since 2018. Here's what I spend most of my time on:</p>
        <ul class="list-unstyled">
            <li class="product-thumb">
                <a href="https://pageflows.com" target="_blank"><span></span></a>
                <img src="/assets/images/pf.jpg" width="50" height="50" style="border-radius: 100%; vertical-align: middle; display: block; float: left; margin-right: .5rem;" />
                <strong>Page Flows</strong>
                <p>User flow videos & screenshots to inspire designers & product managers when you're stuck</p>
            </li>
            <li class="product-thumb">
                <a href="https://dashvine.com" target="_blank"><span></span></a>
                <img src="/assets/images/dv.jpg" width="50" height="50" style="border-radius: 100%; vertical-align: middle; display: block; float: left; margin-right: .5rem;" />
                <strong>Dashvine</strong>
                <p>Gather, manage, and close the loop on product feedback</p>
            </li>
            <li class="product-thumb">
                <a href="https://uimovement.com target="_blank"><span></span></a>
                <img src="/assets/images/ui.png" width="50" height="50" style="border-radius: 100%; vertical-align: middle; display: block; float: left; margin-right: .5rem;" />
                <strong>UI Movement</strong>
                <p>Curated UI design inspiration (mostly animated GIFs)</p>
            </li>
        </ul>
        <p>I've worked on a whole bunch of other things, but most have failed. I'm currently looking for new pain points that I can help with.</p>
    </div>
</div>
