---
layout: default
---

<div class="home">
    <p>Hey, I'm Ramy. This is where I share what I'm working on & learning. The name "Rocket Gems" does't mean anything - I just liked it and the domain was available.</p>
    <p>I'm not currently looking for work, but I'm always happy to chat with customers, founders, or anyone interested in making things.</p>
    <p>The best ways to get in touch are <a href="https://twitter.com/ramykhuffash" target="_blank">Twitter</a> or email at ramy@rocketgems.com</p>

    <h3>Products</h3>
    <p>Here's what I'm working on currently:</p>
    <ul>
        <li><a href="https://pageflows.com" target="_blank">Page Flows</a></li>
        <li><a href="https://dashvine.com" target="_blank">Dashvine</a></li>
        <li><a href="https://uimovement.com" target="_blank">UI Movement</a></li>
    </ul>
</div>
