<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include post-header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer>
        <div class="newsletter-subscribe-box">
            <form action="https://letterfuel.com/newsletter/2cc7692c-5e28-48c4-b430-b161b8553d82/subscribe/" method="post" enctype="multipart/form-data">
                <input type="hidden" style="display: none;" name="source" value="embedded-form" />
                <div>
                    <label class="letterfuelLF1337inplbltst" for="letterfuelLF1337inptstEmail">Subscribe to follow my progress building and launching 6 products in 6 months</label>
                    <input type="email" id="letterfuelLF1337inptstEmail" class="letterfuelLF1337inptst" name="email" placeholder="Your email" maxlength="500" required="" />
                </div>
                <button type="submit" value="Subscribe" id="letterfuelLF1337inptbtnst">Subscribe</button>
            </form>
        </div>
    </footer>

  </body>

</html>
